<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1>Home Page</h1>
       <div class="menu">

           {{!-- <a href="/add">ADD Player</a> --}}

           
           
           <a href="/view">VIEW </a> <br>
           <a href="/search">SEARCH </a><br>
           <a href="/add">ADD </a><br>
           <a href="/delete">DELETE </a> <br>
           <a href="/update">UPDATE</a> <br>

           
       </div>
</body>
</html>